/* WordListPage.module.css */

.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 10dvh;
  width: 92dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topNavigation {
  height: 6dvh;
  width: 92dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.addPageButton {
  padding: 8px 21px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  color: #F9FAFB;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  background-color: #3182f6;
}

.addPageButton:hover {
  background-color: #2563eb;
}

.content{
  width: 92dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.sortButtonContainer{
  margin-bottom: 5px;
}
.sortButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  background-color: #8B91A1;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.sortButton:hover{
  background-color: #6B7280;
}
.azSVG, .zaSVG{
  width: 25px;
  height: 25px;
}

/* 스크롤 가능한 테이블 컨테이너 */
.tableContainer {
  width: 100%;
  height: 68dvh;
  max-width: 1200px; /* 원하는 최대 너비로 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  border: 1px solid #ccc; /* 테두리 추가 (선택 사항) */
  border-radius: 8px; /* 테두리 둥글게 (선택 사항) */
  padding: 10px; /* 내부 패딩 */
  box-sizing: border-box; /* 패딩 포함 */

  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.tableContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}