.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header {
  height: 10dvh;
  width: 92dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10dvh;
  flex: 1;
}

.wordCount {
  font-size: 18px;
}

  
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.myWordsButton, .quizButton {
  padding: 11px 23px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #F9FAFB;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.myWordsButton {
  background-color: #3182f6;
}

.quizButton {
  background-color: #8B91A1;
}

.myWordsButton:hover {
  background-color: #2563eb;
}

.quizButton:hover {
  background-color: #6B7280;
}

